.navbar-right{padding-right: 40px;}
.form-group{padding: 10px;}
.color-blue {color: #0080c5;}
.color-red {color: #FF0000;}
.error-message {font-size: 10px;}
.nav1{
    // padding-right: 200px;
    margin-right: 55px;
}
