.col-sm-8{
  padding-bottom: 15px;
  padding-right: 25px; 
  margin-left: 16.95%;
}
.row.content {
  min-height: 100vh;
  overflow-y: hidden;
}

.sidenavleft {
  left: 0;
  height: 100%;
  position: fixed;
  z-index: 0;
  background-color: #555;
  padding-top: 20px;
  padding-right: 5px;

  h3.new{
    font-size: auto;
    color: #ffffff;
    text-align: center;
  }
  
  h3.new1{
    font-size: auto;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

  img{
    width: 30px;
    height: 30px;
  }

  div.ex2{
    height: 75%;
    overflow-y: auto;
  }
}


.sidenav {
  right: 0;
  height: 100%;
  z-index: 0;
  position: fixed;
  background-color: #555;
  overflow-x: hidden;
  padding-top: 20px;
  h3{
    color: #ffffff;
    text-align: center;
  }
}

.sidenav a {
  padding: 20px 8px 20px 15px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  text-align: center;
  border-bottom: 1px solid black;
}

.sidenav a:hover {
  background-color:rgb(22, 154, 175);
  color: #ffffff;
}

.active {
  background-color: rgb(22, 154, 175);
}

//--------------- 
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
//----------------
