
.col-sm-8{
  padding-bottom: 15px; 
}
.row.content {
  min-height: 100vh;
  overflow-y: hidden;
}

.sidenav {
  right: 0;
  height: 100%;
  position: fixed;
  z-index: 0;
  background-color: #555;
  overflow-x: hidden;
  padding-top: 20px;
  border: 3px solid #5bc0de;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  text-align: center;
  border-bottom: 1px solid rgb(24, 23, 23);
}

.sidenav a:hover {
  background-color: #5bc0de;
  color: #ffffff;
}

.active {
  background-color: #5bc0de;
}
