
.col-sm-8{
  padding-bottom: 15px; 
}
.row.content {
  min-height: 100vh;
  overflow-y: hidden;
}

.sidenav {
  padding-top: 20px;
  background-color: #ddd6dd;
}
 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
a:hover {
  color: #312828;
}
