<div class="container-fluide">
  <div class="row content">
    <div class="col-sm-2  sidenavleft nav-pills leftbar">
       <a *ngFor="let s of subscriberDetails" class="nav-link" href="#" routerLinkActive="active" routerLink="/user/{{ s.subcriberId }}">{{s.firstName}} {{s.lastName}}</a>
    </div>
    <div class="col-sm-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-2 sidenav bg-dark">
      <a href="#" routerLinkActive="active" routerLink="/dashboard/home">Home</a>
      <a href="#">Subscriptions</a>
      <a href="#" routerLinkActive="active" routerLink="/dashboard/trips">My Trips</a>
      <a href="#" routerLinkActive="active" routerLink="/dashboard/settings">Settings</a>
    </div>
  </div>
</div>
