img {
  width: 120px ;
  height: 120px;
}
.card {
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    .card-header{
      h3{
        color: aliceblue;
      }

    }
    .card-body{
      .botton1{
        margin-top: 15px;
        text-align: center;
      } 
    }
    hr{
      color: #f00;
      background-color: rgb(22, 154, 175);
      margin: 2px;
      height: 1px;
    }
 }
 a
 {
   text-decoration: none;
   color: black;
 }
extent{
    height: 100%;
 }
 .container.content{
    height: 100vh;
 }
 .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .header {
    h2{
      color: aliceblue;
    }
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 20px;
    text-align: 150px;
  }

  .leftcolumn {   
    float: left;
    width: 100%;
    hr{
      margin: 0px;
      margin-top: 2px; 
    }
  }

  .rightcolumn {
    float: left;
    width: 25%;
    button{
      text-align: center;
      margin-top: 12px;
    }
    .card{
      margin-left: 0px;
      p{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 1px;
      }
    }
  }

  #line {
    margin-left: 15px;
    margin-top: 35px;
    margin-bottom: 0%;
  }
  
  hr{
    color: #f00;
    background-color:rgb(22, 154, 175);
    margin-top: 2px;
    height: 3px;
  }

  .media-body{
    .btn.btn-secondary{
      margin-top: 18px;
      margin-right: 0px;
    }
  }

