<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('assets/images/carousel-img/7.jpg')">

        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Travels inspire us to adventure</h3>
          <p class="lead">Why us? Our travel blog will help you in organizing a wonderful trip for you.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/images/carousel-img/4.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Wanna share emotions with other travellers?</h3>
          <p class="lead">Create a trip and tell everything about your journey. Don`t forget to add photo,
            descriptions!</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('assets/images/carousel-img/5.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Let`s start! </h3>
          <p class="lead">Discover the world with us! Read blogs, get inspired and plan your trip!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>


<aside id="testimonials" class="text-center" data-enllax-ratio=".2" tabindex="-1" style="background-position: center 34px;">
  <div class="section-heading">
    <h2 class="section-title">Our experienced blogs!</h2>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <blockquote class=" testimonial classic">
        <img src="assets/images/user-img/user-1.jpg" alt="User"/>
        <h3>England - why not?</h3>
        <q>Brits love to sip, slurp and gulp down tea while occasionally dunking a digestive in there too.
          Among the three ghosts said to haunt Athelhampton House, one of them is an ape.
          An interesting fact is that French was the official language of England for about 300 years.</q>
        <p>Julie Fan - Happy Customer</p>
      </blockquote>
    </div>

    <div class="col-sm-4">
      <blockquote class="testimonial classic">
        <img src="assets/images/user-img/user-3.jpg" alt="User" />
        <h3>"Like Spain, I am bound to the past."</h3>
        <q>It’s like a dream to come to Spain and stay for a couple of years and get somebody to teach me Spanish
          music.
          I have seen dawn and sunset on moors and windy hills coming in solemn beauty like slow old tunes of Spain.
        </q>
        <p>Thomas Doe </p>
      </blockquote>
    </div>

    <div class="col-sm-4">
      <blockquote class="testimonial classic">
        <img src="assets/images/user-img/user-2.jpg" alt="User" />
        <h3>Trip to the Netherland</h3>
        <q>Yep, a country so small you can drive through it from its Northern- to its Southern-tip (the largest
          distance)
          in just about two hours if you don’t hit any heavy traffic.
          Somehow the Dutch still manage to crank out enough food to “Feed the World” with so little space! I liked it!</q>
        <p>Roslyn Doe</p>
      </blockquote>
    </div>
  </div>

</aside>

<section id="portfolios" class="section-padding">
  <div class="container">
    <h2 class="section-title" data-wow-delay="0.4s">Countries and places which inspire</h2>
    <div class="row">
      <div id="portfolio" class="row" data-wow-delay="0.4s">
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/images/block-img/1.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/images/block-img/1.jpg">
                    <i class="icon-preview"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/images/block-img/2.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/images/block-img/2.jpg">
                    <i class="icon-preview"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/images/block-img/3.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/images/block-img/3.jpg">
                    <i class="icon-preview"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/images/block-img/4.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/images/block-img/4.jpg">
                    <i class="icon-preview"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/images/block-img/5.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/images/block-img/5.jpg">
                    <i class="icon-preview"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="assets/images/block-img/6.jpg" alt="" />
              <div class="overlay">
                <div class="icons">
                  <a class="lightbox preview" href="assets/images/block-img/6.jpg">
                    <i class="icon-preview"></i>
                  </a>
                  <a class="link" href="#">
                    <i class="icon-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<form>
  <div class="button-section">
    <h3>Let`s register and start your advantures!</h3>
    <input class="registrationButton" type="button" value="Register" onclick="window.location.href='/register'" />
    <br>
    <br>
  </div>
</form>
