<aside id="testimonials" class="text-center" data-enllax-ratio=".2" tabindex="-1" style="background-position: center 34px;">
    <div class="section-heading">
      <h2 class="section-title">Our experienced blogs!</h2>
    </div>
    <div class="packages-content">
      <div class="row">
        <div class="col-sm-4">
          <div class="single-package-item">
          <blockquote class="testimonial.m-img">
                  <img src="assets/images/user-img/user-2.jpg" alt="User" />
                </blockquote>
            <div class="single-package-item-txt">
                <blockquote class="testimonial-img">
                    <img src="assets/images/user-img/user-1.jpg" class="rounded-circle" alt="User" />
                  </blockquote>
                <!-- <div>Name:<input type="text" class="pull-right" id="fname" name="fname"></div>
                <div>Creator:<input type="text" class="pull-right" id="fname" name="fname"></div>
                <div>Description:<input type="text" class="pull-right-d" id="fname" name="fname"></div> -->
                <!-- <li *ngFor="let tr of trip">  -->
               <div>{{ tr?.name }}</div>
               <div>Description: {{tr?.descriptions}}</div>
              <div>Rating: {{ tr?.ratingTrip}}</div>
              <!-- <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>2544 review</span>
                </p>
              </div>/.packages-review -->
              <div class="about-btn">
                  <input class="about-view packages-btn" type="button" value="Go to trip" 
                  onclick="window.location.href='/register'" />
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->
        
        <div class="col-sm-4">
          <div class="single-package-item">
              <blockquote class="testimonial.m-img">
                  <img src="assets/images/user-img/user-3.jpg" alt="User" />
                </blockquote>
            <div class="single-package-item-txt">
                <blockquote class="testimonial-img">
                    <img src="assets/images/user-img/user-1.jpg" class="rounded-circle" alt="User" />
                  </blockquote>
                <div>Name:<input type="text" class="pull-right" id="fname" name="fname"></div>
                <div>Creator:<input type="text" class="pull-right" id="fname" name="fname"></div>
                <div>Description:<input type="text" class="pull-right-d" id="fname" name="fname"></div>
                <fieldset class="rating">
                    <input type="radio" [name]="inputName" value="5" [checked]="rating==5" />
                    <label title="Very good" (click)='onClick(5)'>5 stars</label>
                  
                    <input type="radio" [name]="inputName" value="4" [checked]="rating==4" />
                    <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
                  
                    <input type="radio" [name]="inputName" value="3" [checked]="rating==3" />
                    <label title="That`s ok" (click)='onClick(3)'>3 stars</label>
                  
                    <input type="radio" [name]="inputName" value="2" [checked]="rating==2" />
                    <label title="Not bad" (click)='onClick(2)'>2 stars</label>
                  
                    <input type="radio" [name]="inputName" value="1" [checked]="rating==1" />
                    <label title="Bad" (click)='onClick(1)'>1 star</label>
                  </fieldset>
              <!-- <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <span>2544 review</span>
                </p>
              </div>/.packages-review -->
              <div class="about-btn">
                <input class="about-view packages-btn" type="button" value="Go to trip" 
                onclick="window.location.href='/register'" />
              </div><!--/.about-btn-->
            </div><!--/.single-package-item-txt-->
          </div><!--/.single-package-item-->

        </div><!--/.col-->

      </div><!--/.row-->
    </div><!--/.packages-content-->
</aside>
