<body>  
  <div class="toBeCentered" *ngFor="let trip of trips | paginate: { id:'server', itemsPerPage: 10, currentPage: page ,totalItems:total}">
      <article class="post">
          <header >
              <div class="title">
                  <h2><a href="#">{{trip.name}}</a></h2>
                </div>
              <div class="meta">
                  <a href="#" class="author"><span class="name">{{trip.user.firstName}} {{trip.user.lastName}}</span><img src="{{trip.user.pictureUrl}}" alt="" /></a>
              </div>
          </header>
          <p>{{trip.description}}</p>
          <footer>
              <ul class="actions">
                  <li><a href="/fulltrip/{{trip.id}}" class="button large">Continue Reading</a></li>
              </ul>
              <ul class="stats">
                  <li><a href="#">General</a></li>
                  <li>
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="М о л о д е ц ь - 5 stars"></label>
                        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" ></label>
                        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" ></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" ></label>
                        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" ></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" ></label>
                        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" ></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" ></label>
                        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>
                    </fieldset>
                  </li>
                  <li><a href="#" class="icon fa-comment">128</a></li>
              </ul>
          </footer>
      </article>      
  </div>
  <pagination-controls class="pagination" (pageChange)="getPage($event)" id="server" responsive="true"></pagination-controls>
</body>