
<!-- 

<div class='container-fluid'>
  <div class="col-12">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="https://media.mnn.com/assets/images/2017/01/cow-in-pasture.jpg.838x0_q80.jpg" alt="Random first slide">
      <div class="carousel-caption">
          <h3>10 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="https://cdn.britannica.com/55/174255-004-9A4971E9.jpg" alt="Random second slide">
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
          <img src=".https://cdn.britannica.com/55/174255-004-9A4971E9.jpg" alt="Random third slide">
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
          <img src="https://cdn.britannica.com/55/174255-004-9A4971E9.jpg" alt="Random fourth slide">
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
  </ngb-carousel>
</div>
</div>


<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img [src]="images[0]" alt="Random first slide">
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[1]" alt="Random second slide">
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img [src]="images[2]" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  
  <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h3>10 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]"  alt="Random third slide">
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[3]" alt="Random fourth slide">
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
    </ngb-carousel>

  -->


<!-- <div id="container">
  <div ng-bootstrap class="slides-wrapper"
  [items]="items"
  [width] ="900"
  [$prev] ="prev"
  [$next] ="next"
  [$item]="item">
</div>

<ng-template #prev>
    <img src="https://media.mnn.com/assets/images/2017/01/cow-in-pasture.jpg.838x0_q80.jpg" id="left">
</ng-template>

<ng-template #next>
    <img src="https://cdn.britannica.com/55/174255-004-9A4971E9.jpg" id="right">
</ng-template>

<ng-template #item let-item let-i="index">
  <div class="items">
    <img src="{{ item.name }}">
  </div>
    
</ng-template>
</div> -->

<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>

  
    <div class="row">
        <nav>
            <div class="nav-wrapper">
              <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
                <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
              </ul>
            </div>
            <div class="text-wrapper">
              <a href=""></a>
            </div>
          </nav>
    </div>

<div class="cont">
  <h3>Carousel Example</h3>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
       <img src="https://cdn.britannica.com/55/174255-004-9A4971E9.jpg" alt="Los Angeles" style="width:100%;"> 
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>LA is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="https://cdn.britannica.com/55/174255-004-9A4971E9.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="https://media.mnn.com/assets/images/2017/01/cow-in-pasture.jpg.838x0_q80.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="menu" class="main-text">

  <h1>TravelBlog</h1>
  <h2>Discover and enjoy trips with us!</h2>
</div>

<p class="galary-image">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu0-LP_1MK9PTNiHwC9gM_tyZR32we3w0JLqiHNR3X_zRrxpUGqQ" alt="Фотография 1" width="120" height="120">
  <img src="../ImageT/2.jpg" alt="Фотография 2" width="120" height="120">
  <img src="../ImageT/4.jpg" alt="Фотография 3" width="120" height="120">
  <img src="../ImageT/3.jpg" alt="Фотография 4" width="120" height="120">
</p>


  <!--Gallery-->
  <!-- <aside id="gallery" class="row text-center scrollto clearfix" data-featherlight-gallery
  data-featherlight-filter="a">

 <a href="D:/TravelBlogs/src/app/ImageT/1.jpg" data-featherlight="image" class="col-3 wow fadeIn"
    data-wow-delay="0.1s"><img src="D:/TravelBlogs/src/app/ImageT/1.jpg" alt="Landing Page"/></a>
 <a href="../ImageT/architecture-3095716_640.jpg" data-featherlight="image" class="col-3 wow fadeIn"
    data-wow-delay="0.3s"><img src="../ImageT/architecture-3095716_640.jpg" alt="Landing Page"/></a>
 <a href="images/gallery-images/gallery-image-3.jpg" data-featherlight="image" class="col-3 wow fadeIn"
    data-wow-delay="0.5s"><img src="images/gallery-images/gallery-image-3.jpg" alt="Landing Page"/></a>
 <a href="../ImageT/1.jpg" data-featherlight="image" class="col-3 wow fadeIn"
    data-wow-delay="1.1s"><img src="../ImageT/1.jpg" alt="Landing Page"/></a>
 <a href="images/gallery-images/gallery-image-5.jpg" data-featherlight="image" class="col-3 wow fadeIn"
    data-wow-delay="0.9s"><img src="images/gallery-images/gallery-image-5.jpg" alt="Landing Page"/></a>
 <a href="images/gallery-images/gallery-image-6.jpg" data-featherlight="image" class="col-3 wow fadeIn"
    data-wow-delay="0.7s"><img src="images/gallery-images/gallery-image-6.jpg" alt="Landing Page"/></a>

</aside> -->


<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2" tabindex="-1" style="background-position: center 34px;">

  <div class="row clearfix">

      <div class="section-heading">
          <h3>FEEDBACK</h3>
          <h2 class="section-title">What our customers are saying</h2>
      </div>

      <!--User Testimonial-->
      <div class="col s4">
      <blockquote class="col-3 testimonial classic">
          <img src="https://cdn.britannica.com/55/174255-004-9A4971E9.jpg" alt="User"/>
          <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et dolore magna aliqua</q>
          <footer>John Doe - Happy Customer</footer>
      </blockquote>
      <!-- End of Testimonial-->
    </div>

    <div class="col s4">
      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
          <img src="https://media.mnn.com/assets/images/2017/01/cow-in-pasture.jpg.838x0_q80.jpg" alt="User"/>
          <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et dolore magna aliqua</q>
          <footer>Roslyn Doe - Happy Customer</footer>
      </blockquote>
      <!-- End of Testimonial-->
    </div>
      
    <div class="col s4">
      <!--User Testimonial-->
      <blockquote class="col-3 testimonial classic">
          <img src="https://www.ucdavis.edu/sites/default/files/home-site/blogs/one-health/blog-posts/2018/cow-field-one-health-uc-davis.jpg" alt="User"/>
          <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore
              et dolore magna aliqua</q>
          <footer>Thomas Doe - Happy Customer</footer>
      </blockquote>
      <!-- End of Testimonial-->
    </div>
  </div>

</aside>
<!--End of Testimonials-->


<!-- 
<p>Default pagination:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

<p>No direction links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [directionLinks]="false"></ngb-pagination>

<p>With boundary links:</p>
<ngb-pagination [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>

<hr>

<pre>Current page: {{page}}</pre> -->


  <!-- Contact Form Section Start -->
  <section id="contact" class="contact-form section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Contact Us</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-6 col-xs-12">
            <h3 class="title-head text-left">Get in touch</h3>
            <form class="contact-form" data-toggle="validator">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-xs-12">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="Full Name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required data-error="Please enter your Subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12">
                  <textarea class="form-control" id="message" rows="4" placeholder="Message" required data-error="Please enter your message"></textarea>
                  <div class="help-block with-errors"></div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <h4 class="contact-info-title text-left">Contact Information</h4>
            <div class="contact-info">
              <address>
              <i class="lni-map-marker icons cyan-color contact-info-icon"></i>
              Lv-361.1,
            </address>
              <div class="tel-info">
                <a href="tel:06397845121"><i class="lni-mobile icons cyan-color contact-info-icon"></i>1800 452 308</a>
                <a href="tel:+80322456411"><i class="lni-phone icons cyan-color contact-info-icon"></i>+61 (8) 8234 3555</a>
              </div>
              <a href="mailto:lv-361@gmail.com"><i class="lni-envelope icons cyan-color contact-info-icon"></i>admin@uideck.com</a>
              <a href="#"><i class="lni-tab icons cyan-color contact-info-icon"></i>www.uideck.com</a>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Form Section End -->

     <!-- Copyright -->
     <div id="copyright">
          <div class="footer">
            <div class="col s1">
              <p class="copyright-text">All copyrights reserved © 2018 - Designed &amp; 
                Developed by <a rel="nofollow" href="https://uideck.com">UIdeck</a>
              </p>
          </div>
        </div>
      </div>
      <!-- Copyright  End-->


</body>
</html>











  