.new-user-alert {
  padding-top: 0px;
}
.text-danger {
  color: #dc3545!important;
  font-size: 100%;
}
form{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 74px;
  margin-bottom: 45px;
  color: #f1f1f1;
  // background-color: rgba(10, 4, 15, 0.555) 
}
.div.container{
  margin: 68px;
  padding: 150px;
  width: 600px;
}
.container {
  padding: 70px;
  width: 100%;
}
label{
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 10px;
}
div {
  margin-bottom: 0px;
  border-radius: 15px;
  background-color:#212529;
  // border: 8px solid #371966;
  padding: 20px;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}
input[type=text], select {
  font-size: 20px;
  width: 100%;
  padding: 0.25em;
  margin: 0px 0px 8px 0px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], {
  font-size: 20px;
  width: 100%;
  padding: 0.25em;
  border: 2px solid #999;
  /* 2 animations: shake, and glow red */
  animation-name: shake, glow-red;
  animation-duration: 0.7s, 0.35s;
  animation-iteration-count: 1, 2;
  @keyframes shake {
    0%, 20%, 40%, 60%, 80% {
      transform: translateX(8px);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-8px);
    }
  }
  
  @keyframes glow-red {
    50% {
      border-color: indianred;
    }
  }
}
h1{
  color:#f1f1f1;
  width: auto;
  text-align: center;
  margin-bottom: 0px;
}
p{
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: center;
}
button[type = button]{

  margin-left: auto;
}
button[type = submit]{
  margin-right: auto;
}

