.Centered{
    margin-top: 5em;
}
.select{
    position: relative;
    display: inline-block;
    left: 10px;
    width: 100px;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
   
}
.column{
    top: 20px;
}
.item {
    margin-left: 20%;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
.flow{
    padding-bottom: 5%;
}
.select:hover .dropdown-content {
    display: block;
  }
.list{
   background-color : white; 
}