.Centered{
	padding-top: 2em;
    background: #f4f4f4;
}
.select{
    position: relative;
    display: inline-block;
    left: 10px;
    width: 100px;
   background-color: #f4f4f4;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   padding: 12px 16px;
   z-index: 1;
   
}
.kek
{
    margin-bottom: 1em;
}
.column{
    top: 20px;
}
.item {
    margin-left: 20%;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}
.flow{
    padding-bottom: 5%;
}
.select:hover .dropdown-content {
    display: block;
  }
.list{
   background-color : white; 
}
.tripsComponent
{
    z-index: 1;
}
.filterCountry
{
    position: fixed;
    top: 11.2em;
    z-index: 2;
    display: none;
}
.filterCountry h3
{
    margin-left: 0.4em;
}
#notFound
{
    display: none;
    margin-bottom: 35em; 
    text-align: center
}
#notFoundText
{
    padding-bottom: 20em;
    margin-top: 3em;
}